Makefile
Makefile.in
.deps/
INSTALL
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
src/.deps/
stamp-h1
tests/Makefile
tests/Makefile.in
tests/.deps/
tests/.dirstamp
